<%- include('../_header'); -%>
<h1>A Level Economics</h1>

<h2>Paper 1</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="">
                Question Paper
                </a>
                <a id="a" target="_blank" href="">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_que_20201006.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0-01-msc-20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_que_20180606.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_rms_20180815.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_que_20211005.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_que_20190521.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_que_20170606.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_01_rms_20170816.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>

<h2>Paper 2</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="">
                Question Paper
                </a>
                <a id="a" target="_blank" href="">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_que_20201010.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_msc_202001217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_que_20180613.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_rms_20180815.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_que_20211009.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_que_20190524.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_que_20170613.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_02_rms_20170816.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<h2>Paper 3</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="">
                Question Paper
                </a>
                <a id="a" target="_blank" href="">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_que_20201016.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_msc_202001217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_que_20180616.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_rms_20180815.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_que_20211015.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_que_20190605.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_que_20170619.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Economics/2015/Exam-materials/9EC0_03_rms_20170816.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<%- include('../_footer'); -%>