<%- include('../_header'); -%>
<h1>A Level Maths</h1>

<h2>Pure 1</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-01-que-20220608.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-01-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_que_20201008.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target = "_blank" href = "https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_01-Pure-Mathematics-1-A-Level-Edexcel-Maths.pdf">
                Question Paper
                </a>
                <a id="a" target = "_blank" href = "https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_01-Pure-Mathematics-1-MS-A-Level-Edexcel-Maths.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_que_20211007.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_que_20190606.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_01_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p1-qp.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p1-ms.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>

<!-- second -->


<h2>Pure 2</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-02-que-20220615.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-02-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_que_20201015.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_02-Pure-Mathematics-2-A-Level-Edexcel-Maths.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_02-Pure-Mathematics-2-MS-A-Level-Edexcel-Maths.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_que_20211014.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_que_20190613.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_02_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p2-qp.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p2-ms.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<!-- third -->

<h2>Stats</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-31-que-20220622.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-31-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_que_20201020.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/12/June-2018-9MA0_03-Statistics-and-Mechanics-A-Level-Edexcel-Maths.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_03-Statistics-and-Mechanics-MS-A-Level-Edexcel-Maths.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_que_20211019.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_que_20190615.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_31_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p3-qp.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p3-ms.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<!-- fourth -->

<h2>Mechanics</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-32-que-20220622.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9ma0-32-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_que_20201020.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/12/June-2018-9MA0_03-Statistics-and-Mechanics-A-Level-Edexcel-Maths.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2019/09/9MA0_03-Statistics-and-Mechanics-MS-A-Level-Edexcel-Maths.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_que_20211019.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_que_20190615.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Mathematics/2017/Exam-materials/9MA0_32_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p3-qp.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://cdn.savemyexams.co.uk/uploads/2022/12/edexcel-al-maths-specimen-p3-ms.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<%- include('../_footer'); -%>