<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/logoSmallRound.png" style="border-radius: 3px">
    <title>Exams</title>
    <link rel="stylesheet" href='<%- mainFile %>'>
    <link rel="stylesheet" href='<%- styleFile %>'>
</head>

    <body>
        <main>
            <nav class="navbar">
                <a href="/">
                    <img class="logo" src="/images/logoSmallNoborder.png" alt="Logo">
                </a>           
                <ul class="menu">
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a class = "link" href="/AS">AS</a>
                            </button>
                            <div id="asd" class="dropdown-content">
                              <a href="/AS/asMaths">Maths</a>
                              <a href="/AS/asPhysics">Physics</a>
                              <a href="/AS/asEcon">Economics</a>
                            </div>
                        </div> 
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a class = "link" href="/ALevel">A level</a>
                            </button>
                            <div id="ald" class="dropdown-content">
                              <a href="/ALevel/Maths">Maths</a>
                              <a href="/ALevel/Physics">Physics</a>
                              <a href="/ALevel/Econ">Economics</a>
                            </div>
                        </div> 
                    </li>
                </ul>
            </nav>
