<%- include('_header'); -%>

<h1>AS</h1>
<section class = "boxes">  
    <a href="/AS/asMaths">
        <div class = "box">Maths
            <img class="photo" src="/images/logoMaths.png" alt="math pic">
        </div>
    </a>
    <a href="/AS/asPhysics">
        <div id = "box2" class = "box">Physics
            <img class="photo" src="/images/logoPhysics.png" alt="pysics pic">
        </div>
    </a>
    <a href="/AS/asEcon">
        <div id = "box3" class = "box">Economics
            <img class="photo" src="/images/logoEcon.png" alt="econ pic">
        </div>
    </a>
</section> 
<hr>
<h1>A Level</h1>
<section class = "boxes">
    <a href="/ALevel/Maths">
        <div class = "box">Maths
            <img class="photo" src="/images/logoMaths.png" alt="math pic">
        </div>
    </a>
    <a href="/ALevel/Physics">
        <div id = "box2" class = "box">Physics
            <img class="photo" src="/images/logoPhysics.png" alt="physics pic">
        </div>
    </a>
    <a href="/ALevel/Econ">
        <div id = "box3" class = "box">Economics
            <img class="photo" src="/images/logoEcon.png" alt="econ pic">
        </div>
    </a>
</section> 

<%- include('_footer'); -%>
