<%- include('../_header'); -%>
<h1>AS Physics</h1>


<h2>Paper 1</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8ph0-01-que-20220519.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8ph0-01-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_que_20201010.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_que_20180516.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_rms_20180815.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_que_20211009.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_que_20190515.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_que_20170524.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_01_rms_20170816.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>

<h2>Paper 2</h2>
<section>
    <table>
      <tr>
        <td class="left">
            <div class="pp">
                <h2>2022</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8ph0-02-que-20220607.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8ph0-02-rms-20220818.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2020</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_que_20201016.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_msc_20201217.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2018</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_que_20180519.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_rms_20180815.pdf">
                Mark Scheme
                </a>
            </div>
        </td>
        <div class = "vertical-line"></div>
        <td class="right">
            <div class="pp">
                <h2>2021</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_que_20211015.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_rms_20211216.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2019</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_que_20190518.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_rms_20190815.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
            <div class="pp">
                <h2>2017</h2>
                <a id="a" target ="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_que_20170609.pdf">
                Question Paper
                </a>
                <a id="a" target="_blank" href="https://qualifications.pearson.com/content/dam/pdf/A-Level/Physics/2015/Exam-materials/8PH0_02_msc_20170816.pdf">
                Mark Scheme
                </a>
            </div>
            <br>
        </td>
      </tr>
    </table>
</section>


<%- include('../_footer'); -%>